<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>mAIn</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>54.180.221.239</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Lato-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
	</array>
</dict>
</plist>
